<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Borrow Your collection item</h4>
            <p class="card-category">Specify information about borrowing an item</p>
          </div>
          <div class="card-body">
            <form
              [formGroup]="form"
            >
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field appearance="fill">
                    <mat-label>Expected return day</mat-label>
                    <input
                      matInput
                      [matDatepicker]="picker"
                      formControlName="expectedEndAt"
                    >
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-md-6">

                  <mat-form-field *ngFor="let controlId of controls;let index = index" class="example-full-width">
                    <input
                      matInput
                      placeholder="{{controlNames[index]}}"
                      type="text"
                      class="form-control"
                      id="{{controlId}}"
                      formControlName="{{controlId}}"
                    >
                  </mat-form-field>
                </div>
              </div>
              <button
                mat-raised-button
                type="submit"
                class="btn btn-success pull-right"
                (click)="onSubmit()"
              >Borrow an Item
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
