<table class="table">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Isbn</th>
    <th scope="col">Quality</th>
    <th scope="col">Title</th>
    <th scope="col">CustomId</th>
    <th scope="col">Description</th>
    <th scope="col">Author</th>
    <th scope="col">Type</th>
    <th scope="col">Shelf</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr app-item-row
      *ngFor="let userItemEl of userItems; let i = index"
      [userItem]="userItemEl"
      [index]="i"
  ></tr>
  </tbody>
</table>
