<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Books and other items</h4>
            <p class="card-category"> Browse your home catalog</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table datatable class="row-border hover table">
                <thead class="text-primary">
                <tr>
                  <th scope="col">Isbn</th>
                  <th scope="col">Quality</th>
                  <th scope="col">Title</th>
                  <th scope="col">Description</th>
                  <th scope="col">Author</th>
                  <th scope="col">Type</th>
                  <th scope="col">Bookcase</th>
                  <th scope="col">Is borrowed</th>
                  <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr app-item-row
                    *ngFor="let userItemEl of userItems; let i = index"
                    [userItem]="userItemEl"
                    [index]="i"
                ></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
