<form [formGroup]="form">
  <div class="form-group">
    <label for="isbn">ISBN</label>
    <input type="text" class="form-control" id="isbn" placeholder="Enter Isbn"
           formControlName="isbn">

    <app-form-message-error
      [errors]="formControlErrorMessages( 'isbn')"
    ></app-form-message-error>

  </div>
  <div class="form-group">
    <label for="customId">Custom Id</label>
    <input type="text" class="form-control" id="customId" placeholder="Enter Isbn"
           formControlName="customId">

    <app-form-message-error
      [errors]="formControlErrorMessages( 'customId')"
    ></app-form-message-error>

  </div>
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" placeholder="Enter title"
           formControlName="title">

    <app-form-message-error
      [errors]="formControlErrorMessages( 'title')"
    ></app-form-message-error>
  </div>
  <div class="form-group">
    <label for="author">Author</label>
    <input type="text" class="form-control" id="author" placeholder="Enter author"
           formControlName="author">
    <app-form-message-error
      [errors]="formControlErrorMessages( 'author')"
    ></app-form-message-error>

  </div>
  <div class="form-group">
    <label for="type">Type</label>
    <select class="form-control" id="type"
            formControlName="type">
      <option
        *ngFor="let itemType of itemTypes"
        [value]="itemType"
      >{{itemType}}
      </option>
    </select>
    <app-form-message-error
      [errors]="formControlErrorMessages( 'type')"
    ></app-form-message-error>
  </div>
  <div class="form-group">
    <label for="quality">Quality</label>
    <select class="form-control" id="quality"
            formControlName="quality"
    >
      <option
        *ngFor="let itemQualityScaleItem of itemQualityScaleList"
        [value]="itemQualityScaleItem"
      >{{itemQualityScaleItem}}
      </option>
    </select>
    <app-form-message-error
      [errors]="formControlErrorMessages( 'quality')"
    ></app-form-message-error>
  </div>
  <div class="form-group">
    <label for="shelf">Shelf</label>
    <select class="form-control" id="shelf"
            formControlName="shelf"
    >
      <option
        *ngFor="let shelf of shelves; let i = index"
        [value]="shelf"
      >{{shelveNames[i]}}
      </option>
    </select>
    <app-form-message-error
      [errors]="formControlErrorMessages( 'shelf')"
    ></app-form-message-error>
  </div>
  <hr/>
  <div class="form-group">
    <div class="col-xs-12">
      <button
        *ngIf="!isEdit()"
        type="button"
        class="btn btn-success"
        (click)="onSubmit()"
      >
        Add
      </button>
    </div>
  </div>

</form>
