<form [formGroup]="form">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" aria-describedby="emailHelp" placeholder="Enter title"
           formControlName="title">
  </div>
  <div class="form-group">
    <label for="author">Author</label>
    <input type="text" class="form-control" id="author" aria-describedby="emailHelp" placeholder="Enter author"
           formControlName="author">
  </div>
  <div class="form-group">
    <label for="type">Type</label>
    <input type="text" class="form-control" id="type" aria-describedby="emailHelp" placeholder="Enter type"
           formControlName="type">
  </div>
</form>
