<form [formGroup]="form">
  <div class="form-group">
    <label for="isbn">ISBN</label>
    <input type="text" class="form-control" id="isbn" placeholder="Enter Isbn"
           formControlName="isbn">

    <app-form-message-error *ngFor="let isbnErrorMessage of errorMessagesOfFormControl('isbn')"
                            [message]="isbnErrorMessage"
    ></app-form-message-error>

  </div>
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" placeholder="Enter title"
           formControlName="title">
  </div>
  <div class="form-group">
    <label for="author">Author</label>
    <input type="text" class="form-control" id="author" placeholder="Enter author"
           formControlName="author">
  </div>
  <div class="form-group">
    <label for="type">Type</label>
    <select class="form-control" id="type"
            formControlName="type"
    >
      <option
        *ngFor="let itemType of itemTypes;"
        [value]="itemType"
      >{{itemType}}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label for="quality">Quality</label>
    <select class="form-control" id="quality"
            formControlName="quality"
    >
      <option
        *ngFor="let itemQualityScaleItem of itemQualityScaleList;"
        [value]="itemQualityScaleItem"
      >{{itemQualityScaleItem}}
      </option>
    </select>
  </div>
  <hr/>
  <div class="form-group">
    <div class="col-xs-12">
      <button
        *ngIf="!isEdit"
        type="button"
        class="btn btn-success"
        (click)="onAdd()"
      >
        Add
      </button>
    </div>
  </div>

</form>
