// Bootstrap brand color customization


/*     brand Colors              */

$brand-primary: $grey-600 !default;
$brand-info: $grey-200 !default;
$brand-success: $grey-600 !default;
$brand-warning: $orange-500 !default;
$brand-danger: #c9c7c6 !default;
$brand-rose: $pink-500 !default;
$brand-inverse: $black-color !default;

.main-content .text-primary {
  color: $brand-primary !important;
}
